.PostCard {
  margin: 1rem;
  //margin-bottom: 1rem;
  background-color: #a4a4a4;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.1);
  //width: fit-content;
  //max-width: 90vw;
  width: 90vw;
  display: flex;


  transition: background-color 0.5s, transform 0.5s;
  position: relative;
  &:hover {
    background-color: #a0a0a0;
    transform: scale(1.02);
  }

}

.PostCardLeft {

}



.PostContents {
  padding: 25px;
  text-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PostContent {
  line-height: 26px;
  overflow: hidden;
}

.DeletePostBtn {
  background-color: #c26e6e;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
  color: #d3d3d3;
  font-size: 1.2rem;
  cursor: pointer;
  //position: absolute;
  //top: 10px;
  //right: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s, transform 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #a04d4d;
    transform: scale(1.1);
  }

  &:active {
    background-color: #a04d4d;
    transform: scale(0.9);
  }
}

@media screen and (max-width: 425px) {
  .PostCard {
    flex-direction: column;
    padding: 8px;
  }

  .PostContents {
    padding: 8px;
  }
}