
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  background-color: #282828;
  color: #d3d3d3;
  padding: 12px 32px;

  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }


}

.LinksList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  a {
    font-size: 20px;
    color: #d3d3d3;
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: #6ea4c2;
    }
  }
  .isActive {
    color: #59889c;
  }
}


