
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  background-color: #282828;
  color: #d3d3d3;
  padding: 8px 32px;
  height: 56px;

  h3 {
    font-size: 24px;
    font-weight: 700;
  }



}

.LinksList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  a {
    font-size: 20px;
    color: #d3d3d3;
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: #6ea4c2;
    }
  }
  .isActive {
    color: #59889c;
  }
}

.ProfileLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #d3d3d3;
  text-decoration: none;
  transition: color 0.5s, transform 0.5s;
  height: 100%;
  border-radius: 8px;
  img {
    //width: 56px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &:hover {
    color: #6ea4c2;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .Navbar {

    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    height: max-content;
  }

  //.LinksList {
  //  flex-direction: column;
  //}

}


